{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}

{% block title %}
    Gesamtrangliste
{% endblock%}

{% block body %}
    <div class="span12">
        {% include "KcbBonnligaWebsiteBundle:Rangliste:Include/switch.html.twig"%}
        {% include "KcbBonnligaWebsiteBundle:Rangliste:Include/rangliste.html.twig"%}
    </div>
{% endblock %}