{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}
{% import "KcbBonnligaWebsiteBundle:Rangliste:macros.html.twig" as ranglisteMacros %}

{% block title %}
    Gesamtrangliste
{% endblock%}

{% block body %}
    <div class="span12">
        <p>
            {% include "KcbBonnligaWebsiteBundle:Rangliste:Include/switch.html.twig"%}
        </p>

        {{ ranglisteMacros.rangliste(
            rangliste,
            ['rang', 'tendenz', 'name', 'einstufung', 'stammlokal', 'punkte', 'teilnahmen']
        ) }}
    </div>
{% endblock %}

{% block javascripts %}
    $(function() {
        /*$('tr.Pro:eq(0) td:first').append(' <i class="icon-trophy gold"></i>');
        $('tr.Pro:eq(1) td:first').append(' <i class="icon-trophy silver"></i>');
        $('tr.Pro:eq(2) td:first').append(' <i class="icon-trophy bronze"></i>');

        $('tr.Hobby:eq(0) td:first').append(' <i class="icon-trophy gold"></i>');
        $('tr.Hobby:eq(1) td:first').append(' <i class="icon-trophy silver"></i>');
        $('tr.Hobby:eq(2) td:first').append(' <i class="icon-trophy bronze"></i>');

        $('tr.Weiblich:eq(0) td:first').append(' <i class="icon-trophy gold"></i>');
        $('tr.Weiblich:eq(1) td:first').append(' <i class="icon-trophy silver"></i>');
        $('tr.Weiblich:eq(2) td:first').append(' <i class="icon-trophy bronze"></i>');*/
    });
{% endblock %}