{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}
{% import "KcbBonnligaWebsiteBundle:Rangliste:macros.html.twig" as ranglisteMacros %}

{% block title %}
    Gesamtrangliste
{% endblock%}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="span12">
            <a href="{{ path('kcb_bonnliga_website_rangliste_aktualisieren') }}">Rangliste aktualisieren</a>
        </div>
    {% endif %}
    <div class="span12">
        <p>
            {% include "KcbBonnligaWebsiteBundle:Rangliste:Include/switch.html.twig"%}
        </p>

        <div class="gesamt">
            {{ ranglisteMacros.rangliste(
                rangliste,
                ['rang', 'tendenz', 'name', 'einstufung', 'stammlokal', 'punkte', 'teilnahmen']
            ) }}
        </div>
    </div>
{% endblock %}
