{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}
{% import "KcbBonnligaWebsiteBundle:Turnier:macros.html.twig" as turnierMacros %}

{% block title %}
Turniere
{% endblock%}

{% block body %}

    <fieldset>
        <legend>Nächste Turniere</legend>

        {% for i, turnier in comingUp  %}
            {% if i % 4 == 0 %}
                {% if i > 0 %}
                    </div>
                {% endif %}

                <div class="row-fluid show-grid">
            {% endif %}
            {{ turnierMacros.medium(turnier) }}
        {% endfor %}

    </fieldset>

    <fieldset>
        <legend>Vergangene Turniere</legend>

        {% for i, turnier in past %}
            {% if i % 4 == 0 %}
                {% if i > 0 %}
                    </div>
                {% endif %}

                <div class="row-fluid show-grid">
            {% endif %}
            {{ turnierMacros.medium(turnier) }}
        {% endfor %}
    </fieldset>
{% endblock %}
