{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}
{% import "KcbBonnligaWebsiteBundle:Turnier:macros.html.twig" as turnierMacros %}

{% block title %}
Turniere
{% endblock%}

{% block body %}

    <h2>Nächste Turniere</h2>
    {{ turnierMacros.list(comingUp) }}

    <h2>Vergangene Turniere</h2>
    {{ turnierMacros.list(past) }}

{% endblock %}
