{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}

{% block title %}
Facts
{% endblock%}

{% block body %}
<div class="span12">
    <h3><i class="icon-calendar"></i> Zeitlicher Rahmen</h3>
    <p>
        Start: 15.03.2012<br />
        Ende: 15.02.2013
    </p>


    <h3><i class="icon-map-marker"></i> Locations bisher</h3>
    <p>
        Babel & Wache
    </p>

    <h3><i class="icon-thumbs-up"></i> Fakten</h3>

    <ul>
        <li>Für jeden Turnierteilnehmer gehen 50Cent in den Bonnligapott</li>
        <li><strong>Preise</strong>
            <ul>
                <li>Der Ranglistenpott wird zu 100% ausgeschüttet!</li>
                <li>Die bonnligaweit
                    <ul>
                        <li>besten 3 Hobbyspieler</li>
                        <li>besten 3 Damen</li>
                        <li>besten 3 Pros (Liga und/oder Turnierspieler)</li>
                    </ul>
                    erhalten jeweils 10% des Ranglistenpotts (jeweils aufgeteilt in 5% für den 1. Platz, 3% für den 2. Platz und 2% für den 3. Platz) und jeweils eine Medaille
                </li>
                <li>Die restlichen 70% des Pottes und Medaillen für die Top 3 werden im großen Ranglistenfinale ausgespielt</li>
                <li>Ein Wanderpokal wird immer am 1. des Monats in der Location aufgestellt, deren besten 5 Spieler die meisten aufaddierten Punkte haben (hier zählt die Stammlocation nicht der Ausrichter der Turniere)</li>
            </ul>
        </li>
        <li><strong>Ranglistenfinale</strong>
            <ul>
                <li>Top 16 der Jahres</li>
                <li>Ort: Vereinsstätte KCB (Babel)</li>
                <li>Termin: 2. Donnerstag nach dem 15.02.2013 (falls keine wichtigen Vorkommnisse dazwischen kommen)</li>
                <li>Modus
                    <ul>
                        <li>fest zugeloster Partner für den kompletten Abend</li>
                        <li>Schweizer Vorrunden</li>
                        <li>Single-KO Endrunde für alle, mit Setzung beeinflusst durch die Vorrunden (1. Platz bekommt "schwächsten" Gegner und trifft erst im Finale auf 2. Platz usw.)</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}