{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}

{% block title %}
Facts
{% endblock%}

{% block javascripts %}
jQuery('.info').popover();
{% endblock %}

{% block body %}

    <div class="span12">
        <h2>Was ist die Bonnliga?</h2>

        <p>
            Seit 2009 veranstaltet die Kicker Crew Bonn (KCB) regelmäßig unter dem Namen "Bonnliga" Turniere, erfasst und veröffentlicht die Ergebnisse und kürt am Ende der Saison die jeweiligen Jahresmeister in einem Finalturnier unter den besten Bonnern.
        </p>
        <p>
            Die besten Bonner? Vielleicht auch nicht!
        </p>
        <p>
            Wir haben das große unerschlossene Potential Bonns erkannt und wollen dieses 2012 fördern. Dies soll mehr Tischfussball und bekanntere Spielstätten hervorbringen.<br />
            Zu diesem Zweck möchten wir die Bonnliga erstmals für alle Tischfussballspielstätten, unabhängig von Tischart, Regeln, Modus und Spielerstärken, öffnen. Eine Saison lang (vom 15.03.2012 bis zum 15.02.2013) kann jedes Lokal Tischfussballturniere veranstalten, deren Ergebnisse in die Bonnliga Rangliste 2012 einfließen.                        
        </p>
        
        <h2>Preise</h2>
        <p>
            Pro Teilnehmer eines Turniers werden 0,50€ in einen Preisgeldpott eingezahlt, aus dem am Ende der Saison 70% im Saisonfinale und 30% an die Besten der Rangliste ausgeschüttet werden. Dabei werden aus den 3 Kategorien Hobby, Ladies und Pro die jeweils 3 besten Tischfussballspieler ausgezeichnet und belohnt werden (<a href="http://bonnliga.de/info.pdf">Infoblatt</a>):
        </p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Platzierung</td>
                    <td>
                        <span class="info icon-question-sign" rel="popover" data-content="Alle Spieler, die nicht zur Kategorie Pro gehören." data-original-title="Hobby">
                            Hobby
                        </span>
                    </td>
                    <td>Ladies</td>
                    <td>
                        <span class="info icon-question-sign" rel="popover" data-content="Spieler, die zum Zeitpunkt ihres ersten Turnieres der laufenden Bonnligasaison, bei den gängigen Verbänden (P4P, Landesverbände, DTFB, ITSF) gelistet sind." data-original-title="Pro">
                            Pro
                        </span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>5% + Medaille</td>
                    <td>5% + Medaille</td>
                    <td>5% + Medaille</td>
                </tr>
            <tr>
                <td>2.</td>
                <td>3% + Medaille</td>
                <td>3% + Medaille</td>
                <td>3% + Medaille</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>2% + Medaille</td>
                <td>2% + Medaille</td>
                <td>2% + Medaille</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <h3>Saisonfinale</h3>
        <div class="well">
            <p>
                Zum krönenden Abschluss der Bonnliga 2012 werden vorraussichtlich am 28.02.2013 alle Kategorien gekührt, Preise verliehen und unter den besten 16 Tischfussballspielern der Rangliste die Bonnliga Meister 2012 ausgespielt.
                <ul>
                    <li>Das Ranglistenfinale findet im Babel statt.</li>
                    <li>Die Spieler werden zufällig zusammen gelost und spielen dann das komplette Turnier zusammen.</li>
                    <li>In Vorrunden nach dem Schweizer System werden die Endrundenpartien ermittelt (Erstplatzierter der Vorrunde kann erst im Finale auf den Zweitplatzierten treffen usw.)</li>
                    <li>Die Endplatzierungen werden in spannenden Single-KO Spielen ausgespielt.</li>
                </ul>

                <strong>Preise:</strong> 40% + Trophäen, 30% + Trophäen, 20% + Trophäen, 10% <small>(des Masterpotts)</small>
            </p>
        </div>
    </div>

    <div class="span6">
        <h3>Auszeichnung für die beste Location</h3>
        <p class="well">
            Um das Lokal zu belohnen, welches die besten Spieler hervor bringt, wird die Lokalauszeichnung "Bonnliga 2012 - Best Location" ausgeschrieben.<br />
            Die Punkte eines Lokals in dieser Kategorie werden aus dem Durchschnitt der 5 besten Spieler, die das jeweilige Lokal als ihr Stammlokal angegeben haben, berechnet. Das Lokal mit den 5 besten Spielern erhält am Anfang eines Monats einen Wanderpokal, der im darauffolgenden Monat an das dann beste Lokal weiter gegeben werden muss.<br />
            Das Lokal, welches den Pokal nach dem 16.02.2013 bekommt, darf ihn behalten.
        </p>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <h2>Mitmachen! Aber wie?</h2>
        
        <h3>Für Spieler</h3>
        
        <p>
            Unter <a href="{{ path('kcb_bonnliga_website_turnier_index') }}">Turniere</a> sind alle angekündigten Turniere mit Informationen zur Spielstätte und Turnierverlauf zu finden. Einfach bis spätestens zum angegebenen Anmeldeschluss in der Spielstätte erscheinen. Mit Namen und Stammlokal (die sich bei folgenden Turnieranmeldungen nicht unterscheiden sollten) anmelden und Punkte sammeln. Die jeweiligen Turnierergebnisse sowie die Rangliste sind danach online einsehbar. Dabei werden angegebene Nachnamen  mit maximal 2 Buchstaben abgekürzt.
        </p>
        <p>
            Wir haben versucht eine möglichst faire Vergabe der Punkte zu gewährleisten. Die Punktevergabe ist für jedes Turnier unabhängig vom Modus immer gleich und orientiert sich am Single-KO Modus. Die maximal mögliche Punktzahl für ein Turnier hängt dabei von der Teilnehmerzahl ab. Dabei sind die Punktestufen an die Plätze gebunden, die auch in einem Single-KO System ermittelt werden können.
        </p>
        
        <h3>Für Spielstätten</h3>
        <p>
            Jede Tischfussballspielstätte (öffentlich zugängliche Location mit mindestens einem Kickertisch) kann Turniere veranstalten. Diese müssen lediglich mindestens 24 Stunden vor Anmeldeschluss bei uns bekannt gegeben werden, damit es bei uns auf der Webseite veröffentlicht und beworben werden kann.
            Organisation und Ausführung der Turniere liegt ohne Einschränkungen in den Händen der Spielstätte.
        </p>
        <p>
            Logo, Name,  Beschreibung, Fotos, Öffnungszeiten, Adresse/Anfahrt und Turniere sind dann online für Tischfussballbegeisterte übersichtlich einsehbar und bieten für die Spielstätte eine gute Werbefläche.
        </p>
        <p>
            Nach Abschluss des Turniers muss uns nur eine Turnierergebnisliste und für jeden Teilnehmer 0,50€ übergeben werden. Das Geld geht in den Jahrespott und wird zu 100% wieder an die Spieler ausgeschüttet. Auf welchen Tischen, nach welchen Regeln, in welchem Modus (Doppel-KO, Single-KO, Monster-DYP, Gruppenphase, Offenes Doppel, …) gespielt wird, ob Startgeld genommen wird und ob ein Tagespreisgeld ausgeschüttet wird, entscheidet die Spielstätte. Die Übermittlung der Ergebnisse muss auf den üblichen Wegen stattfinden (Zettel oder Mail an bonnliga@kickercrewbonn.de) und folgender Form entsprechen:
        </p>

        <blockquote>
            <pre>
                Spielstätte: XY
                Datum: TT.MM.YYYY

                Spieler1 Stammlokal1
                Spieler2 Stammlokal2
                Spieler3 Stammlokal3
                …
                SpielerN StammlokalN
            </pre>
        </blockquote>
        <p>
            Danach werden die Ergebnisse eingepflegt und die Rangliste aktualisiert. Sowohl Rangliste als auch Einzelturnierergebnisse sind dann für Spieler und Spielstätten umgehend online einsehbar.                        
        </p>
        <p>
            Da es allen Beteiligten so einfach wie möglich gemacht werden soll und demnach kaum Einschränkungen festgelegt wurden, wird an die Fairness der Spielstätten und Teilnehmer appelliert. Sollten wir Missbrauch feststellen, behalten wir uns vor Spielstätten, Turniere oder einzelne Teilnehmer zu entfernen.
        </p>

    </div>
{% endblock %}