{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}

{% block title %}
Sponsoren
{% endblock%}

{% block body %}
    <div class="row-fluid">
        <div class="span2">
            <a name="kcb"></a>
            <img src="{{ asset("bundles/kcbbonnligawebsite/img/logo_kcb.png") }}" />
        </div>
        
        <div class="span5">
            <h4>Kicker Crew Bonn e.V.</h4>
            <p>
                2008 wurde die Kicker Crew Bonn (KCB) als erster und bisher einzieger Verein der sich dem Tischfussball in Bonn widmet gegründet.<br />
                Seitdem bietet die KCB allen willigen eine Möglichkeit zum Training, teilnahmen an der Nordrheinwestfälischen Kickernliga und Turnieren.
            </p>
            <a class="icon-external-link" href="http://kickercrewbonn.de">kickercrewbonn.de</a>
        </div>
        
        <div class="span5">
            <h4>Als Sponsor</h4>
            <p>
                Die Kicker Crew Bonn organisiert die Bonnliga seit 2009 und kümmert sich auch in der Saison 12/13 um deren Ausführung.<br />
                Zusätzlich sponsort der Verein die Pokale und Medaillen der Bonnliga.
            </p>
        </div>
    </div>
{% endblock %}