{% extends "KcbBonnligaWebsiteBundle:Rangliste:Include/baseRangliste.html.twig" %}

{% block locationHeading %}<th>Stammlokal</th>{% endblock %}
{% block locationData %}<td>{{rang.spieler.stammlokal.name}}</td>{% endblock %}