{% set buttons = {
    'Gesamt': 'kcb_bonnliga_website_rangliste_gesamt',
    'Hobby': 'kcb_bonnliga_website_rangliste_hobby',
    'Ladies': 'kcb_bonnliga_website_rangliste_ladies',
    'Pro': 'kcb_bonnliga_website_rangliste_pro'
} %}
<div class="btn-group">
    {% for label, route in buttons %}
        {% set path = path(route) %}
        {% set active = (path == app.request.requestUri) %}
        {% if active %}
            <span class="btn active">{{ label }}</span>
        {% else %}
            <a href="{{ path }}" class="btn">{{ label }}</a>
        {% endif %}
    {% endfor %}
</div>