{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}
{% import "KcbBonnligaWebsiteBundle:Turnier:macros.html.twig" as turnierMacros %}

{% block title %}
Home
{% endblock%}

{% block body %}
    <div class="span12">
        <div class="hero-unit">
            <h1>Bonnliga <small> since 2008</small></h1>
            <p>Bonns erste und bisher einzigartige Tischfussballliga. Kickern für jeden, vom Anfänger bis zum Profi.</p>
            <p><a class="btn btn-primary btn-large" href="{{ path("kcb_bonnliga_website_fact_index") }}">Neu hier?</a></p>
        </div>
    </div>


    </div>

    <div class="row-fluid">
        <div class="span12">

            <h2>Die nächsten Turniere</h2>
            {{ turnierMacros.list(comingUp) }}
        </div>
    </div>

    <div class="row-fluid">
        <h2>Sponsoren</h2>

        <div class="span2">
            <a href="{{ path('kcb_bonnliga_website_sponsor_index') }}#kcb">
                <img src="{{ asset("bundles/kcbbonnligawebsite/img/logo_kcb.png") }}" />
            </a>
        </div>

    </div>


{% endblock %}