{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}

{% block title %}
Historie
{% endblock%}

{% block body %}

    <div class="row-fluid">
        <div class="span6">
            <h2>Hall of Fame: Die Bonnliga-Master</h2>
            <ul>
                <li>2012/2013: Volker R. und Karten E.</li>
                <li>2010/2011: Dominik R. und Volker R.</li>
                <li>2009/2010: Per B. und Simon T.</li>
            </ul>
        </div>
        <div class="span6">
            <h2>Bisherige Saisons</h2>
            <ul>
                <li><a href="http://www.bonnliga.de">Bonnliga 2013</a></li>
                <li><a href="http://2012.bonnliga.de">Bonnliga 2012/2013</a></li>
                <li><a href="http://bonnliga.kickercrewbonn.de/">Bonnliga 2010/2011</a></li>
                <li><a href="http://bonnliga2009.kickercrewbonn.de/">Bonnliga 2009/2010</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
