{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}

{% block title %}
Home
{% endblock%}

{% block body %}
<ul>
    {% for location in locations %}
    <li>{{ location.name }}</li>
    {% endfor %}
</ul>
{% endblock %}