{% macro stammspieler(location) %}
    <h2>Stammspieler</h2>
    <ul>
        {% for spieler in spielerAlphabetischSortiert(location.stammspieler) %}
            <li>
                {{ spieler.name }}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}