{% macro stammspieler(location) %}
    <h2>Stammspieler</h2>
    <p>{% for spieler in spielerAlphabetischSortiert(location.stammspieler) %}{{ spieler.name }}{% if not loop.last %}, {% endif %}{% endfor%}</p>
{% endmacro %}