{% extends "KcbBonnligaWebsiteBundle:Layout:base.html.twig" %}
{% import "KcbBonnligaWebsiteBundle:Location:macros.html.twig" as locationMacros %}

{% block title %}
    {{ stammlokal.name }}
{% endblock%}

{% block body %}
    <h1>{{ stammlokal.name }}</h1>

    {{ locationMacros.stammspieler(stammlokal) }}
{% endblock %}